# Importing Required Libraries

In [ ]:
# @title Importing the Required Libraries
#Importing the Required Libraries
#!pip install opencage
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
#from opencage.geocoder import OpenCageGeocode
from pprint import pprint
import folium
from folium.plugins import MarkerCluster

In [ ]:
#Reading the Database
df = pd.read_csv("CBB_Listings_LongLat.csv")

# Original Dataset

### Shape
This line of code is used to get the dimensions of the dataset. It returns the number of rows and columns in the DataFrame.

In [ ]:
df.shape

(145114, 49)

### Basic Stats
`describe()` provides a summary of statistical information for the numerical columns in the DataFrame. It includes metrics like count (number of non-null entries), mean (average), standard deviation (how spread out the numbers are), min (minimum value), and max (maximum value) which give insights into the data distribution.

In [ ]:
df.describe()

,days_on_market,dealer_id,Latitude,Longitude,dealer_email,vehicle_id,uvc,mileage,price,msrp,model_year,certified,has_leather,has_navigation,price_analysis,wheelbase_from_vin,number_price_changes,distance_to_dealer,location_score
count,145114.000000,1.451140e+05,145114.000000,145114.000000,0.0,145114.000000,1.451140e+05,1.451140e+05,1.451140e+05,145114.000000,145114.000000,145114.000000,145114.0,145114.0,145114.000000,145114.000000,145114.000000,145114.000000,145114.000000
mean,47.810218,1.115641e+07,53.539966,-113.537517,NaN,513749.054006,2.021818e+09,4.598501e+04,4.786611e+04,51247.428229,2021.361157,0.006602,0.0,0.0,0.082928,3026.472990,3.504782,9.436435,3.010984
std,57.862393,4.389865e+04,0.084015,0.093667,NaN,94034.105057,3.557037e+06,6.227304e+04,9.070245e+04,21760.734381,3.542539,0.080983,0.0,0.0,0.275774,559.718857,7.765742,6.226795,2.104691
min,1.000000,1.112677e+07,53.274779,-113.903261,NaN,66737.000000,1.987160e+09,0.000000e+00,0.000000e+00,0.000000,1987.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,1.230000,0.000000
25%,14.000000,1.112884e+07,53.539442,-113.589133,NaN,480906.000000,2.020161e+09,1.500000e+01,2.699000e+04,35149.000000,2020.000000,0.000000,0.0,0.0,0.000000,2700.000000,0.000000,6.090000,1.000000
50%,26.000000,1.113164e+07,53.576926,-113.570655,NaN,558583.000000,2.023360e+09,9.650000e+03,4.190000e+04,48035.000000,2023.000000,0.000000,0.0,0.0,0.000000,2850.000000,1.000000,7.420000,4.000000
75%,59.000000,1.116104e+07,53.582383,-113.489730,NaN,580271.000000,2.024340e+09,8.011900e+04,6.277025e+04,63045.000000,2024.000000,0.000000,0.0,0.0,0.000000,3342.000000,3.000000,9.400000,5.000000
max,367.000000,1.125746e+07,53.705860,-113.196872,NaN,599912.000000,2.024960e+09,1.000008e+06,1.309532e+07,315100.000000,2024.000000,1.000000,0.0,0.0,1.000000,5014.000000,154.000000,29.660000,5.000000

### Preview of Data
This line displays the first few rows of the DataFrame (usually the first five rows). It’s a quick way to preview the dataset and understand its structure and some initial values.

In [ ]:
df.head()

,listing_id,listing_heading,listing_type,listing_url,listing_first_date,days_on_market,dealer_id,dealer_name,dealer_street,dealer_city,...,wheelbase_from_vin,drivetrain_from_vin,engine_from_vin,transmission_from_vin,fuel_type_from_vin,number_price_changes,price_history_delimited,distance_to_dealer,location_score,listing_dropoff_date
0,f5b663d2-4896-11ef-a15b-8b4423f1ff08,1987 IROC Z 350 Auto T-Tops,Active,https://www.kijiji.ca/v-cars-trucks/edmonton/1...,7/22/2024 0:00,9,11152931,David T's Camaro & Firebird Auto Center,10611 201 St NW,Edmonton,...,0.0,RWD,5.7L V8 TBI,A,Gas,0,"2024-07-22,11500,230860",9.84,5,NaN
1,a9f565e6-4712-11ef-a23f-79dc25c5e601,NaN,Sold,https://www.redlinemotors.ca/vehicle-details/1...,7/20/2024 0:00,4,11131329,Redlinemotors.Ca,14421 Mark Messier Trail,Edmonton,...,0.0,RWD,5.2L V8,A,Gas,0,"2024-07-20,8700,48905",8.30,5,7/24/2024 0:00
2,03d18c58-253a-11ef-8f33-8905b4a2f000,1989 Cadillac DeVille Sedan FWD,Active,https://www.sweetheartmotor.com/cars/used/1989...,6/7/2024 0:00,54,11161704,Gateway Auto & Rv Sales & Financing Ltd,5404 Gateway Blvd NW,Edmonton,...,0.0,FWD,4.5L V8 DI,A,Gas,0,"2024-06-07,6000,174640",5.71,4,NaN
3,2d12630b-460e-11ee-89c4-e5b3161d4741,1989 Cadillac DeVille Sedan FWD,Active,https://www.sweetheartmotor.com/cars/used/1989...,8/28/2023 0:00,338,11128265,Credit Angels,5404 Gateway Blvd NW,Edmonton,...,0.0,FWD,4.5L V8 DI,A,Gas,4,"2023-08-28,4500,174640:2023-09-13,5900,174640:...",5.71,5,NaN
4,53a8e550-47cd-11ef-8587-f926ecb61035,1989 Camaro IROC 350 Auto T-Top,Active,https://www.kijiji.ca/v-cars-trucks/edmonton/1...,7/21/2024 0:00,10,11152931,David T's Camaro & Firebird Auto Center,10611 201 St NW,Edmonton,...,0.0,RWD,5.7L V8 TBI,A,Gas,0,"2024-07-21,8500,288000",9.84,5,NaN

### Datatypes
This command is typically used to get a quick overview of the data types for all the columns in the dataset, which is helpful for further data cleaning and preparation steps.

In [ ]:
df.dtypes

listing_id                  object
listing_heading             object
listing_type                object
listing_url                 object
listing_first_date          object
days_on_market               int64
dealer_id                    int64
dealer_name                 object
dealer_street               object
dealer_city                 object
dealer_province             object
dealer_postal_code          object
Latitude                   float64
Longitude                  float64
Lat Lon                     object
dealer_url                  object
dealer_email               float64
dealer_phone                object
dealer_type                 object
stock_type                  object
vehicle_id                   int64
vin                         object
uvc                          int64
mileage                      int64
price                        int64
msrp                         int64
model_year                   int64
make                        object
model                       object
series                      object
style                       object
certified                    int64
has_leather                  int64
has_navigation               int64
exterior_color              object
exterior_color_category     object
interior_color              object
interior_color_category     object
price_analysis               int64
wheelbase_from_vin         float64
drivetrain_from_vin         object
engine_from_vin             object
transmission_from_vin       object
fuel_type_from_vin          object
number_price_changes         int64
price_history_delimited     object
distance_to_dealer         float64
location_score               int64
listing_dropoff_date        object
dtype: object

# New Dataframe

### Required Features
This line defines a list of column names that are needed for our analysis. These are the specific columns that we want to keep from the larger dataset. Listing these columns helps us to focus on only the relevant data.

In [ ]:
# List of columns we need.
columns = [
    "listing_id",
    "listing_type",
    "listing_first_date",
    "days_on_market",
    "dealer_id",
    "dealer_name",
    "dealer_street",
    "dealer_city",
    "dealer_province",
    "dealer_postal_code",
    "stock_type",
    "vehicle_id",
    "vin",
    "mileage",
    "Latitude",
    "Longitude",
    "price",
    "model_year",
    "make",
    "model",
    "style",
    "drivetrain_from_vin",
    "engine_from_vin",
    "transmission_from_vin",
    "fuel_type_from_vin"
]

### Creating new Dataframe
The line creates a new DataFrame called df_new that includes only the columns listed in the columns list. This step is essentially filtering the original DataFrame (df) to keep only the data we are interested in, making the dataset smaller and more manageable for further analysis.

In [ ]:
df_new = df[columns]

In [ ]:
df_new.head()

,listing_id,listing_type,listing_first_date,days_on_market,dealer_id,dealer_name,dealer_street,dealer_city,dealer_province,dealer_postal_code,...,Longitude,price,model_year,make,model,style,drivetrain_from_vin,engine_from_vin,transmission_from_vin,fuel_type_from_vin
0,f5b663d2-4896-11ef-a15b-8b4423f1ff08,Active,7/22/2024 0:00,9,11152931,David T's Camaro & Firebird Auto Center,10611 201 St NW,Edmonton,AB,T5S 1Y8,...,-113.666536,11500,1987,Chevrolet,Camaro,2D Coupe,RWD,5.7L V8 TBI,A,Gas
1,a9f565e6-4712-11ef-a23f-79dc25c5e601,Sold,7/20/2024 0:00,4,11131329,Redlinemotors.Ca,14421 Mark Messier Trail,Edmonton,AB,T6V 1H4,...,-113.578942,8700,1988,Chrysler,Fifth Avenue,4D Sedan,RWD,5.2L V8,A,Gas
2,03d18c58-253a-11ef-8f33-8905b4a2f000,Active,6/7/2024 0:00,54,11161704,Gateway Auto & Rv Sales & Financing Ltd,5404 Gateway Blvd NW,Edmonton,AB,T6H 1B7,...,-113.493143,6000,1989,Cadillac,DeVille,4D Sedan,FWD,4.5L V8 DI,A,Gas
3,2d12630b-460e-11ee-89c4-e5b3161d4741,Active,8/28/2023 0:00,338,11128265,Credit Angels,5404 Gateway Blvd NW,Edmonton,AB,T6H 1B7,...,-113.493143,6000,1989,Cadillac,DeVille,4D Sedan,FWD,4.5L V8 DI,A,Gas
4,53a8e550-47cd-11ef-8587-f926ecb61035,Active,7/21/2024 0:00,10,11152931,David T's Camaro & Firebird Auto Center,10611 201 St NW,Edmonton,AB,T5S 1Y8,...,-113.666536,8500,1989,Chevrolet,Camaro,2D Coupe,RWD,5.7L V8 TBI,A,Gas

# Data Cleaning

### Checking for Null Values
The `isnull()` function in this block of code checks for missing (null) values in the dataframe df_new and `.sum()` counts the total number of null values for each column, providing a summary of missing data in the dataset.

In [ ]:
#Checking for Null values
print(df_new.isnull().sum())

listing_id               0
listing_type             0
listing_first_date       0
days_on_market           0
dealer_id                0
dealer_name              0
dealer_street            0
dealer_city              0
dealer_province          0
dealer_postal_code       0
stock_type               0
vehicle_id               0
vin                      0
mileage                  0
Latitude                 0
Longitude                0
price                    0
model_year               0
make                     0
model                    0
style                    0
drivetrain_from_vin      0
engine_from_vin          0
transmission_from_vin    0
fuel_type_from_vin       0
dtype: int64

In [ ]:
# Deleting all rows with any null values
df_new = df_new.dropna()

# Checking if any null values are left
print(df_new.isnull().sum())

listing_id               0
listing_type             0
listing_first_date       0
days_on_market           0
dealer_id                0
dealer_name              0
dealer_street            0
dealer_city              0
dealer_province          0
dealer_postal_code       0
stock_type               0
vehicle_id               0
vin                      0
mileage                  0
Latitude                 0
Longitude                0
price                    0
model_year               0
make                     0
model                    0
style                    0
drivetrain_from_vin      0
engine_from_vin          0
transmission_from_vin    0
fuel_type_from_vin       0
dtype: int64

###Checking number of unique entries for each city

In [ ]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 71380 entries, 0 to 71379
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   listing_id             71380 non-null  object
 1   listing_type           71380 non-null  object
 2   listing_first_date     71380 non-null  object
 3   days_on_market         71380 non-null  int64
 4   dealer_id              71380 non-null  int64
 5   dealer_name            71380 non-null  object
 6   dealer_street          71380 non-null  object
 7   dealer_city            71380 non-null  object
 8   dealer_province        71380 non-null  object
 9   dealer_postal_code     71380 non-null  object
 10  stock_type             71380 non-null  object
 11  vehicle_id             71380 non-null  int64
 12  vin                    71380 non-null  object
 13  mileage                71380 non-null  int64
 14  Latitude               71380 non-null  float64
 15  Longitude              71380 non-null  float64
 16  price                  71380 non-null  int64
 17  model_year             71380 non-null  int64
 18  make                   71380 non-null  object
 19  model                  71380 non-null  object
 20  style                  71380 non-null  object
 21  drivetrain_from_vin    71380 non-null  object
 22  engine_from_vin        71380 non-null  object
 23  transmission_from_vin  71380 non-null  object
 24  fuel_type_from_vin     71380 non-null  object
 25  FSA                    71380 non-null  object
dtypes: float64(2), int64(6), object(18)
memory usage: 14.7+ MB

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [ ]:
# Make a copy of the original DataFrame to maintain the name df_new
df_new = df.copy()

# Extract FSA (first three characters) for mapping
df_new['FSA'] = df_new['dealer_postal_code'].str.replace(" ", "").str[:3]

# Map FSA to region using the provided dictionary
df_new['region_label'] = df_new['FSA'].map(fsa_region_mapping)

In [ ]:
import pandas as pd

# Assuming df_new is already defined and contains the necessary data
# Extract FSA (first three characters) from the postal code
df_new['FSA'] = df_new['dealer_postal_code'].str.replace(" ", "").str[:3]

# Define the FSA-to-region mapping including T5W entries
fsa_region_mapping = {
    # North Edmonton
    'T5A': 'North Edmonton', 'T5B': 'North Edmonton', 'T5C': 'North Edmonton',
    'T5E': 'North Edmonton', 'T5G': 'North Edmonton', 'T5Y': 'North Edmonton', 'T6V': 'North Edmonton',

    # South Edmonton
    'T6E': 'South Edmonton', 'T6H': 'South Edmonton', 'T6J': 'South Edmonton',
    'T6K': 'South Edmonton', 'T6N': 'South Edmonton', 'T6T': 'South Edmonton',
    'T6W': 'South Edmonton', 'T6X': 'South Edmonton',

    # West Edmonton
    'T5L': 'West Edmonton', 'T5M': 'West Edmonton', 'T5N': 'West Edmonton',
    'T5P': 'West Edmonton', 'T5R': 'West Edmonton', 'T5S': 'West Edmonton',
    'T5T': 'West Edmonton', 'T5V': 'West Edmonton',

    # East Edmonton including the specific T5W entries
    'T5W': 'East Edmonton', 'T6A': 'East Edmonton', 'T6B': 'East Edmonton',
    'T6C': 'East Edmonton', 'T6S': 'East Edmonton',

    # Greater Edmonton Suburbs
    'T7X': 'Greater Edmonton Suburbs', 'T8A': 'Greater Edmonton Suburbs', 'T8H': 'Greater Edmonton Suburbs',
    'T8L': 'Greater Edmonton Suburbs', 'T8N': 'Greater Edmonton Suburbs', 'T9E': 'Greater Edmonton Suburbs',
    'T9G': 'Greater Edmonton Suburbs',

    # Downtown Edmonton
    'T5H': 'Downtown Edmonton', 'T5J': 'Downtown Edmonton'
}

# Apply the mapping to fill in missing values in the region_label column
df_new['region_label'] = df_new['region_label'].combine_first(df_new['FSA'].map(fsa_region_mapping))

# Check if there are still any missing values in region_label after mapping
missing_regions = df_new['region_label'].isnull().sum()
print(f"Number of missing region labels after mapping: {missing_regions}")

# Drop the FSA column if it's no longer needed
df_new.drop(columns=['FSA'], inplace=True)

Number of missing region labels after mapping: 0

In [ ]:
# Filter rows where 'region_label' is null and display the relevant columns
null_region_rows = df_new[df_new['region_label'].isnull()][['dealer_id', 'dealer_name', 'dealer_postal_code', 'region_label']]

# Display the rows to inspect
null_df = null_region_rows
null_df["dealer_postal_code"].unique().tolist()

[]

### Datatypes in new dataframe

In [ ]:
# Calculate the current year
from datetime import datetime
current_year = datetime.now().year
df_new['vehicle_age'] = current_year - df_new['model_year']

In [ ]:
# Import pandas if needed
import pandas as pd

# Type conversion
df_new = df_new.copy()

# Convert IDs to integers
df_new['dealer_id'] = df_new['dealer_id'].astype(int)

# Convert other float columns that should ideally be integers (if no NaN values are present)
df_new['vehicle_id'] = df_new['vehicle_id'].fillna(0).astype(int)
df_new['model_year'] = df_new['model_year'].fillna(0).astype(int)
df_new['mileage'] = df_new['mileage'].fillna(0).astype(int)
df_new['vehicle_age'] = df_new['vehicle_age'].fillna(0).astype(int)
df_new['price'] = df_new['price'].fillna(0).astype(float)  # Keeping price as float to allow for precise currency representation

# Latitude and Longitude can remain as float
df_new['Latitude'] = df_new['Latitude'].astype(float)
df_new['Longitude'] = df_new['Longitude'].astype(float)

# Convert categorical columns to 'category' type to save memory and improve processing performance
categorical_columns = [
    'listing_type', 'dealer_name', 'dealer_street', 'dealer_city',
    'dealer_province', 'dealer_postal_code', 'stock_type', 'vin',
    'make', 'model', 'style', 'drivetrain_from_vin',
    'engine_from_vin', 'transmission_from_vin', 'fuel_type_from_vin'
]

for col in categorical_columns:
    df_new[col] = df_new[col].astype('category')

# Convert region_label to category
df_new['region_label'] = df_new['region_label'].astype('category')

In [ ]:
# Define realistic thresholds for mileage and price
mileage_upper_limit = 800000    # Maximum reasonable mileage
price_lower_limit = 500         # Minimum reasonable price
price_upper_limit = 500000      # Maximum reasonable price

# Apply filters to remove outliers in mileage and price
filtered_df = df_new[
    (df_new['mileage'] <= mileage_upper_limit) &
    (df_new['price'] >= price_lower_limit) &
    (df_new['price'] <= price_upper_limit)
]

# Optional: Display the number of rows removed
rows_removed = df_new.shape[0] - filtered_df.shape[0]
print(f"Rows removed due to outliers: {rows_removed}")

# Assign the filtered data back to df_new if needed
df_new = filtered_df.copy()

Rows removed due to outliers: 5827

In [ ]:
# Step 1: Define the Composite Key
# Convert 'make' to string to ensure compatibility when concatenating
df_new.loc[:, 'composite_key'] = df_new['vin'].astype(str) + '_' + df_new['model_year'].astype(str) + '_' + df_new['make'].astype(str) + '_' + df_new['mileage'].astype(str)

# Step 2: Sort the DataFrame by Listing Status and Date
# If 'listing_first_date' is not present, create a placeholder date.
if 'listing_first_date' not in df_new.columns:
    df_new.loc[:, 'listing_first_date'] = pd.Timestamp('1970-01-01')
else:
    df_new.loc[:, 'listing_first_date'] = pd.to_datetime(df_new['listing_first_date'])

# Check if 'listing_Active' column exists
if 'listing_Active' in df_new.columns:
    # Sort to prioritize active listings over sold listings and by most recent date.
    df_new = df_new.sort_values(by=['composite_key', 'listing_Active', 'listing_first_date'], ascending=[True, False, False])
else:
    # If 'listing_Active' is missing, sort only by composite key and listing date.
    df_new = df_new.sort_values(by=['composite_key', 'listing_first_date'], ascending=[True, False])

# Step 3: Remove Duplicate Listings within a Specified Time Window
# Define a time window (e.g., X days) to identify vehicles that are relisted after a short period.
time_window = pd.Timedelta(days=30)

# Use a custom function to identify duplicates within the time window.
def filter_recent_duplicates(df):
    unique_listings = []
    last_seen = {}

    for idx, row in df.iterrows():
        key = row['composite_key']
        listing_date = row['listing_first_date']

        if key not in last_seen or (listing_date - last_seen[key]) > time_window:
            unique_listings.append(idx)
            last_seen[key] = listing_date

    return df.loc[unique_listings]

# Apply the function to filter out the duplicates.
df_new = filter_recent_duplicates(df_new)

# Step 4: Reset Index and Clean Up
# Reset index after filtering.
df_new.reset_index(drop=True, inplace=True)

# Drop the 'composite_key' column if no longer needed.
df_new.drop(columns=['composite_key'], inplace=True)

In [ ]:
# Step 1: Create a mapping of unique dealer_id to the first occurrence of dealer_name
dealer_name_mapping = df_new.drop_duplicates(subset='dealer_id', keep='first').set_index('dealer_id')['dealer_name']

# Step 2: Apply this mapping to standardize dealer names across all entries
df_new['dealer_name'] = df_new['dealer_id'].map(dealer_name_mapping)

# Verify if standardization worked correctly by checking unique names for each dealer_id
print(df_new[['dealer_id', 'dealer_name']].drop_duplicates().sort_values(by='dealer_id'))

       dealer_id               dealer_name
70      11126766         1St Canadian Auto
1399    11126793                  780 Cars
1572    11126844           Ace Auto Credit
1358    11126873                 Ad Motors
1       11126889             Ai Auto Group
...          ...                       ...
22487   11256029             Big West Ford
2001    11256348           Ericksen Nissan
10430   11256461  Great West Chrysler Jeep
9258    11257445             Waterloo Ford
70982   11257459           West Side Acura

[347 rows x 2 columns]

In [ ]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105588 entries, 0 to 105587
Data columns (total 51 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   listing_id               105588 non-null  object
 1   listing_heading          103853 non-null  object
 2   listing_type             105588 non-null  category
 3   listing_url              105588 non-null  object
 4   listing_first_date       105588 non-null  object
 5   days_on_market           105588 non-null  int64
 6   dealer_id                105588 non-null  int64
 7   dealer_name              105588 non-null  category
 8   dealer_street            105588 non-null  category
 9   dealer_city              105588 non-null  category
 10  dealer_province          105588 non-null  category
 11  dealer_postal_code       105588 non-null  category
 12  Latitude                 105588 non-null  float64
 13  Longitude                105588 non-null  float64
 14  Lat Lon                  105588 non-null  object
 15  dealer_url               105588 non-null  object
 16  dealer_email             0 non-null       float64
 17  dealer_phone             72562 non-null   object
 18  dealer_type              105588 non-null  object
 19  stock_type               105588 non-null  category
 20  vehicle_id               105588 non-null  int64
 21  vin                      105588 non-null  category
 22  uvc                      105588 non-null  int64
 23  mileage                  105588 non-null  int64
 24  price                    105588 non-null  float64
 25  msrp                     105588 non-null  int64
 26  model_year               105588 non-null  int64
 27  make                     105588 non-null  category
 28  model                    105588 non-null  category
 29  series                   104985 non-null  object
 30  style                    105588 non-null  category
 31  certified                105588 non-null  int64
 32  has_leather              105588 non-null  int64
 33  has_navigation           105588 non-null  int64
 34  exterior_color           102240 non-null  object
 35  exterior_color_category  80310 non-null   object
 36  interior_color           68915 non-null   object
 37  interior_color_category  63544 non-null   object
 38  price_analysis           105588 non-null  int64
 39  wheelbase_from_vin       105588 non-null  float64
 40  drivetrain_from_vin      105588 non-null  category
 41  engine_from_vin          105588 non-null  category
 42  transmission_from_vin    105588 non-null  category
 43  fuel_type_from_vin       105588 non-null  category
 44  number_price_changes     105588 non-null  int64
 45  price_history_delimited  105588 non-null  object
 46  distance_to_dealer       105588 non-null  float64
 47  location_score           105588 non-null  int64
 48  listing_dropoff_date     68522 non-null   object
 49  region_label             105588 non-null  category
 50  vehicle_age              105588 non-null  int64
dtypes: category(16), float64(6), int64(14), object(15)
memory usage: 35.7+ MB

In [ ]:
df_new.to_csv("df_new.csv", index=False)

In [ ]:
df_new = pd.read_csv("df_new.csv")

In [ ]:
import pandas as pd

# Assuming df_new is already loaded with the structure provided.

# 1. Total Sales per Dealer ID
total_sales_df = df_new.groupby(['dealer_id', 'dealer_name', 'Latitude', 'Longitude']).size().reset_index(name='total_sales')
total_sales_df.to_csv('total_sales_per_dealer_id.csv', index=False)
model_sales_df = df_new.groupby(['dealer_id', 'dealer_name', 'Latitude', 'Longitude', 'model']).size().reset_index(name='model_sales_count')

# 2. Total Gross Sales per Dealer ID
# Assuming 'price' column represents individual sale price for each listing
gross_sales_df = df_new.groupby(['dealer_id', 'dealer_name', 'Latitude', 'Longitude'])['price'].sum().reset_index(name='total_gross_sales')
gross_sales_df.to_csv('total_gross_sales_per_dealer_id.csv', index=False)
best_selling_model_df = model_sales_df.loc[model_sales_df.groupby('dealer_id')['model_sales_count'].idxmax()].reset_index(drop=True)

# 3. Stock (Active) per Dealer ID
active_stock_df = df_new[df_new['stock_type'] == 'active'].groupby(['dealer_id', 'dealer_name', 'Latitude', 'Longitude']).size().reset_index(name='active_stock_count')
active_stock_df.to_csv('active_stock_per_dealer_id.csv', index=False)
best_selling_model_df.to_csv('best_selling_model_per_dealer.csv', index=False)

print("CSV files have been saved successfully.")

CSV files have been saved successfully.

#Spliting the datasets

MODELS

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder


# Step 1: Merge dataframes on common columns
merged_df = total_sales_df.merge(gross_sales_df, on=['dealer_id', 'dealer_name', 'Latitude', 'Longitude'], how='inner')
merged_df = merged_df.merge(active_stock_df, on=['dealer_id', 'dealer_name', 'Latitude', 'Longitude'], how='inner')
merged_df = merged_df.merge(best_selling_model_df[['dealer_id', 'model_sales_count']], on='dealer_id', how='inner')
merged_df = merged_df.merge(df_new[['dealer_id', 'region_label']], on='dealer_id', how='inner')

# Check merged structure
print(merged_df.head())

Empty DataFrame
Columns: [dealer_id, dealer_name, Latitude, Longitude, total_sales, total_gross_sales, active_stock_count, model_sales_count, region_label]
Index: []

In [ ]:
active_stock_df

Empty DataFrame
Columns: [dealer_id, dealer_name, Latitude, Longitude, active_stock_count]
Index: []

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder

# Step 1: Merge dataframes on common columns (assuming all dataframes are already in memory)
# We omit active_stock_df as per your request

# Merge total_sales_df, gross_sales_df, best_selling_model_df, and relevant columns from df_new
merged_df = total_sales_df.merge(gross_sales_df, on=['dealer_id', 'dealer_name', 'Latitude', 'Longitude'], how='inner')
merged_df = merged_df.merge(best_selling_model_df[['dealer_id', 'model_sales_count']], on='dealer_id', how='inner')
merged_df = merged_df.merge(df_new[['dealer_id', 'region_label']], on='dealer_id', how='inner')

# Step 2: Preprocess the data
# Standardize numeric features and encode region_label

# Initialize scaler and encoder
scaler = StandardScaler()
label_encoder = LabelEncoder()

# Standardize numeric features
numeric_features = ['total_sales', 'total_gross_sales', 'model_sales_count']
merged_df[numeric_features] = scaler.fit_transform(merged_df[numeric_features])

# Encode region_label
merged_df['region_label_encoded'] = label_encoder.fit_transform(merged_df['region_label'])

# Step 3: Select Features for Clustering
# Choosing Latitude, Longitude, sales metrics, and encoded region for clustering

features = ['Latitude', 'Longitude', 'total_sales', 'total_gross_sales', 'model_sales_count', 'region_label_encoded']
X = merged_df[features]

# Step 4: Perform Clustering (K-Means)
from sklearn.cluster import KMeans

# Initialize KMeans with an arbitrary number of clusters (e.g., 5) for the initial model
kmeans = KMeans(n_clusters=5, random_state=42)
merged_df['cluster_label'] = kmeans.fit_predict(X)

# Step 5: Prepare the Final DataFrame for Visualization
final_df = merged_df[['dealer_id', 'dealer_name', 'Latitude', 'Longitude', 'region_label', 'cluster_label']]

# If you wish to export this final result to CSV for Power BI visualization
final_df.to_csv('clustered_dealers.csv', index=False)

print("Clustering completed and saved to 'clustered_dealers.csv' for Power BI visualization.")

Clustering completed and saved to 'clustered_dealers.csv' for Power BI visualization.

#MODEL 1

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder

# Assuming all dataframes (total_sales_df, gross_sales_df, best_selling_model_df, df_new) are already in memory

# Step 1: Merge dataframes on common columns
# We only include relevant columns, and will aggregate later to ensure unique dealer entries
merged_df = total_sales_df.merge(gross_sales_df, on=['dealer_id', 'dealer_name', 'Latitude', 'Longitude'], how='inner')
merged_df = merged_df.merge(best_selling_model_df[['dealer_id', 'model_sales_count']], on='dealer_id', how='inner')
merged_df = merged_df.merge(df_new[['dealer_id', 'region_label']], on='dealer_id', how='inner')

# Step 2: Aggregate the data to ensure unique `dealer_id` entries
# Use sum for sales-related columns, and first occurrence for categorical data like `region_label`
aggregated_df = merged_df.groupby(['dealer_id', 'dealer_name', 'Latitude', 'Longitude', 'region_label'], as_index=False).agg({
    'total_sales': 'sum',
    'total_gross_sales': 'sum',
    'model_sales_count': 'sum'
})

# Step 3: Preprocess the aggregated data
# Standardize numeric features and encode region_label
scaler = StandardScaler()
label_encoder = LabelEncoder()

# Standardize numeric features
numeric_features = ['total_sales', 'total_gross_sales', 'model_sales_count']
aggregated_df[numeric_features] = scaler.fit_transform(aggregated_df[numeric_features])

# Encode region_label
aggregated_df['region_label_encoded'] = label_encoder.fit_transform(aggregated_df['region_label'])

# Step 4: Select Features for Clustering
features = ['Latitude', 'Longitude', 'total_sales', 'total_gross_sales', 'model_sales_count', 'region_label_encoded']
X = aggregated_df[features]

# Step 5: Perform Clustering (K-Means)
from sklearn.cluster import KMeans

# Initialize KMeans with an arbitrary number of clusters (e.g., 5)
kmeans = KMeans(n_clusters=5, random_state=42)
aggregated_df['cluster_label'] = kmeans.fit_predict(X)

# Step 6: Prepare the Final DataFrame for Visualization
final_df = aggregated_df[['dealer_id', 'dealer_name', 'Latitude', 'Longitude', 'region_label', 'cluster_label']]

# Save the final dataframe for visualization in Power BI
final_df.to_csv('unique_dealer_clusters.csv', index=False)

print("Clustering completed and saved to 'unique_dealer_clusters.csv' for Power BI visualization.")

Clustering completed and saved to 'unique_dealer_clusters.csv' for Power BI visualization.

In [ ]:
# Load the cluster summary data
import pandas as pd

# Assuming the summary CSV has been saved and is accessible
cluster_summary = pd.read_csv('unique_dealer_clusters.csv')

# Display the summary to understand each cluster's characteristics
print(cluster_summary)

     dealer_id               dealer_name   Latitude   Longitude  \
0     11126766         1St Canadian Auto  53.570063 -113.431555
1     11126793                  780 Cars  53.542727 -113.694983
2     11126844           Ace Auto Credit  53.478324 -113.481022
3     11126873                 Ad Motors  53.570173 -113.487994
4     11126873                 Ad Motors  53.571235 -113.488478
..         ...                       ...        ...         ...
354   11256029             Big West Ford  53.542411 -113.638397
355   11256348           Ericksen Nissan  53.556703 -113.494246
356   11256461  Great West Chrysler Jeep  53.540342 -113.629705
357   11257445             Waterloo Ford  53.552205 -113.518550
358   11257459           West Side Acura  53.559087 -113.624689

          region_label  cluster_label
0        East Edmonton              4
1        West Edmonton              2
2       South Edmonton              3
3       North Edmonton              0
4       North Edmonton              0
..                 ...            ...
354      West Edmonton              2
355  Downtown Edmonton              4
356      West Edmonton              2
357  Downtown Edmonton              4
358      West Edmonton              2

[359 rows x 6 columns]

dsadasdasdasd

#MODEL 2

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.cluster import KMeans

# Assuming df_new is already loaded with all necessary columns

# Step 1: Aggregate new and used car sales metrics per dealer
# Adjust the filtering to match uppercase values in `stock_type`
new_car_df = df_new[df_new['stock_type'] == 'NEW'].groupby('dealer_id').agg(
    new_car_sales=('stock_type', 'size'),
    gross_sales_new=('price', 'sum')
).reset_index()

used_car_df = df_new[df_new['stock_type'] == 'USED'].groupby('dealer_id').agg(
    used_car_sales=('stock_type', 'size'),
    gross_sales_used=('price', 'sum')
).reset_index()

# Check for data in new_car_df and used_car_df
print(f"New Car Aggregated Data (rows, columns): {new_car_df.shape}")
print(new_car_df.head())
print(f"Used Car Aggregated Data (rows, columns): {used_car_df.shape}")
print(used_car_df.head())

# Merge new and used car data on `dealer_id` only
merged_df = new_car_df.merge(used_car_df, on='dealer_id', how='outer').fillna(0)

# Add dealer location and region label information from the original dataframe
merged_df = merged_df.merge(df_new[['dealer_id', 'dealer_name', 'Latitude', 'Longitude', 'region_label']].drop_duplicates(), on='dealer_id', how='left')

# Ensure merged_df has data before scaling
if merged_df.empty:
    raise ValueError("Merged dataframe is empty after merging steps. Check for missing data in input frames.")
else:
    print(f"Merged dataframe contains {len(merged_df)} rows and {len(merged_df.columns)} columns.")

# Step 2: Preprocess the data
# Initialize scaler and encoder
scaler = StandardScaler()
label_encoder = LabelEncoder()

# Standardize numeric features
numeric_features = ['new_car_sales', 'used_car_sales', 'gross_sales_new', 'gross_sales_used']
merged_df[numeric_features] = scaler.fit_transform(merged_df[numeric_features])

# Encode region label
merged_df['region_label_encoded'] = label_encoder.fit_transform(merged_df['region_label'].fillna('Unknown'))

# Step 3: Prepare features for clustering
features = ['Latitude', 'Longitude', 'new_car_sales', 'used_car_sales', 'gross_sales_new', 'gross_sales_used', 'region_label_encoded']
X = merged_df[features]

# Step 4: Perform Clustering (K-Means)
kmeans = KMeans(n_clusters=5, random_state=42)
merged_df['cluster_label'] = kmeans.fit_predict(X)

# Step 5: Prepare Final DataFrame for Visualization
final_df = merged_df[['dealer_id', 'dealer_name', 'Latitude', 'Longitude', 'region_label', 'new_car_sales', 'used_car_sales', 'gross_sales_new', 'gross_sales_used', 'cluster_label']]

# Save final dataframe to CSV for Power BI
final_df.to_csv('new_vs_used_car_clusters.csv', index=False)

print("Clustering completed and saved to 'new_vs_used_car_clusters.csv' for Power BI visualization.")

New Car Aggregated Data (rows, columns): (206, 3)
   dealer_id  new_car_sales  gross_sales_new
0   11126912            165          7656482
1   11126937             66          4596114
2   11127250           6757        391926897
3   11127438              1             3075
4   11127458            161         15153343
Used Car Aggregated Data (rows, columns): (321, 3)
   dealer_id  used_car_sales  gross_sales_used
0   11126766              67           1288109
1   11126793              77           1055423
2   11126844              57           1155743
3   11126873              53            653683
4   11126889              65           1874872
Merged dataframe contains 353 rows and 9 columns.
Clustering completed and saved to 'new_vs_used_car_clusters.csv' for Power BI visualization.

In [ ]:
# Group by `cluster_label` and calculate statistics
cluster_summary = final_df.groupby('cluster_label').agg({
    'new_car_sales': ['mean', 'median'],
    'used_car_sales': ['mean', 'median'],
    'gross_sales_new': ['mean', 'median'],
    'gross_sales_used': ['mean', 'median'],
    'Latitude': 'mean',
    'Longitude': 'mean'
}).reset_index()

print(cluster_summary)

  cluster_label new_car_sales            used_car_sales             \
                         mean     median           mean     median
0             0     -0.062373  -0.166720      -0.054508  -0.115651
1             1     -0.092139  -0.192729      -0.089922  -0.155877
2             2      9.055631   9.055631      14.489857  14.489857
3             3     11.119264  11.119264       7.985303   7.985303
4             4     -0.104083  -0.192729      -0.105286  -0.177714

  gross_sales_new            gross_sales_used              Latitude  \
             mean     median             mean     median       mean
0       -0.056030  -0.165442        -0.052738  -0.121128  53.497081
1       -0.092882  -0.196169        -0.094255  -0.168171  53.487892
2        8.295753   8.295753        14.389753  14.389753  53.576926
3       11.312960  11.312960         7.968028   7.968028  53.588420
4       -0.103881  -0.196000        -0.098463  -0.179693  53.551385

    Longitude
         mean
0 -113.485039
1 -113.482605
2 -113.589133
3 -113.579894
4 -113.626293

In [ ]:
# Calculate new-to-used sales and revenue ratios
final_df['new_to_used_sales_ratio'] = final_df['new_car_sales'] / (final_df['used_car_sales'] + 1e-9)  # Avoid division by zero
final_df['new_to_used_revenue_ratio'] = final_df['gross_sales_new'] / (final_df['gross_sales_used'] + 1e-9)

In [ ]:
# Group by `cluster_label` and calculate statistics
cluster_summary = final_df.groupby('cluster_label').agg({
    'new_car_sales': ['mean', 'median'],
    'used_car_sales': ['mean', 'median'],
    'gross_sales_new': ['mean', 'median'],
    'gross_sales_used': ['mean', 'median'],
    'new_to_used_sales_ratio': ['mean', 'median'],
    'new_to_used_revenue_ratio': ['mean', 'median'],
    'Latitude': 'mean',
    'Longitude': 'mean'
}).reset_index()

# Display the summary statistics for each cluster
print(cluster_summary)

  cluster_label new_car_sales            used_car_sales             \
                         mean     median           mean     median
0             0     -0.062373  -0.166720      -0.054508  -0.115651
1             1     -0.092139  -0.192729      -0.089922  -0.155877
2             2      9.055631   9.055631      14.489857  14.489857
3             3     11.119264  11.119264       7.985303   7.985303
4             4     -0.104083  -0.192729      -0.105286  -0.177714

  gross_sales_new            gross_sales_used             \
             mean     median             mean     median
0       -0.056030  -0.165442        -0.052738  -0.121128
1       -0.092882  -0.196169        -0.094255  -0.168171
2        8.295753   8.295753        14.389753  14.389753
3       11.312960  11.312960         7.968028   7.968028
4       -0.103881  -0.196000        -0.098463  -0.179693

  new_to_used_sales_ratio           new_to_used_revenue_ratio            \
                     mean    median                      mean    median
0                0.385791  1.085176                  0.884181  1.111188
1                2.208399  1.071407                 -4.164346  1.082552
2                0.624963  0.624963                  0.576504  0.576504
3                1.394795  1.394795                  1.421918  1.421918
4                0.021803  1.057144                  0.957701  1.072575

    Latitude   Longitude
        mean        mean
0  53.497081 -113.485039
1  53.487892 -113.482605
2  53.576926 -113.589133
3  53.588420 -113.579894
4  53.551385 -113.626293

price analysis

In [ ]:
import pandas as pd

# Define price ranges
def categorize_price(price):
    if price < 20000:
        return 'budget'
    elif 20000 <= price <= 40000:
        return 'mid_range'
    else:
        return 'high_end'

# Assuming `df_new` has 'price', 'dealer_id', 'Latitude', 'Longitude', and 'region_label' columns
# Apply price categorization
df_new['price_category'] = df_new['price'].apply(categorize_price)

# Step 1: Calculate average vehicle price by dealership
price_df = df_new.groupby('dealer_id').agg(
    average_vehicle_price=('price', 'mean')
).reset_index()

# Step 2: Count vehicles in each price range by dealership
price_range_counts = df_new.groupby(['dealer_id', 'price_category']).size().unstack(fill_value=0).reset_index()
price_range_counts = price_range_counts.rename(columns={
    'budget': 'count_budget_range',
    'mid_range': 'count_mid_range',
    'high_end': 'count_high_end_range'
})

# Step 3: Merge aggregated data with dealership location and region
# Extract unique dealership locations and region info
location_region_df = df_new[['dealer_id', 'Latitude', 'Longitude', 'region_label']].drop_duplicates()

# Merge all data into a single dataframe for Power BI
final_dataset = price_df.merge(price_range_counts, on='dealer_id', how='left')
final_dataset = final_dataset.merge(location_region_df, on='dealer_id', how='left')

# Step 4: Save the dataset to CSV for Power BI
final_dataset.to_csv('price_sensitivity_analysis_dataset.csv', index=False)

print("Dataset created and saved to 'price_sensitivity_analysis_dataset.csv' for Power BI.")

Dataset created and saved to 'price_sensitivity_analysis_dataset.csv' for Power BI.